*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    font-size: 100%;
    font: inherit;
    font-family: 'Nunito', sans-serif;
    transition: 0.2s;
}